<div class="login-part">
    <div class="clearfix">
      <div class="global-heading user-head"><h4>Bring It Fast</h4></div>
     </div>
  <div class="login-detail createpro-detail1">
      <div class="row">
        <div class="col-sm-12">
          <div class="country_mng-form">
            <div class="form-group">
               <label for="">Dear <%= @current_user.first_name%> your transaction for the luggage you've sent has been confirmed sucessfully. <span class="required"></span> </label>
       <!-- <a href="bring-it-fast.herokuapp.com"> bring-it-fast.herokuapp.com</a>    -->
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>