<div class="login-part">
    <div class="clearfix">
      <div class="global-heading user-head">Bring It Fast</div>
     </div>
  <div class="login-detail createpro-detail1">
      <div class="row">
        <div class="col-sm-12">
          <div class="country_mng-form">
            <div class="form-group">
               <label for="">Dear <%= @email%> <span class="required">*Please receive your package from <%= @sender_state%>, <%= @sender_city%> </span> </label>
               if you are new then please signup first with this email address <%= @email%>.
               <a href="bringitfast.ca"> bringitfast.ca</a>        
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


