 <h2>User contacted you.</h2><br>
         
       <h3>User Name - <%=@contact.try(:name)%></h3>
      
       <h3>Email - <%=@contact.try(:email)%></h3>  
      
      <h3>Reason for contacting - <%=@contact.try(:reason_for_contacting)%></h3>
      <h3>Message - <%=@contact.try(:message)%> </h3> 
    


                           