<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BringItFast</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--       <link rel="stylesheet" href="css/testinomial.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="font/stylesheet.css">
      <link rel="stylesheet" href="font/datepicker.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/style.css"> -->
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

   </head>
   <body>
      <!-- header Start -->
      <header class="global-header">
         <nav class="navbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand logo" href="index.html">
                  <img src="/assets/logo.png" class="logo" alt="Logo"/>
                  </a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="/">HOME</a></li>
                     <li><a href="/homes/about_us">ABOUT</a></li>
                     <li><a href="/homes/pricing">PRICING</a></li>
                     <li><a href="/homes/sender">SENDERS</a></li>
                     <li><a href="/homes/traveller">TRAVELLERS</a></li>
                     <li><a href="login.html">SIGN IN</a></li>
                     <li><a href="/users/new">SIGN UP</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <!-- header End -->
      <section class="banner-section text-center">
        <div class="container">
         <div class="banner-content">
           <h1>Ship Anything, Anytime, Anywhere</h1>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           <div class="banner-form-block">
             <form class="banner-form">
               <div class="form-group departure-group">
                 <input type="text" class="form-control" placeholder="Departure Location"/>
               </div>
               <div class="form-group final-destination">
                 <input type="text" class="form-control" placeholder="Final Destination"/>
               </div>
               <div class="form-group departure-date">
                 <input type="text" class="form-control departure-field" placeholder="Date"/>
               </div>
               <button class="btn btn-red" type="submit">Send</button>
               <button class="btn btn-green" type="button">Carry</button>
             </form>
           </div>
         </div>
        </div>

      </section>
      <!-- Main Start -->
      <main>
         <section class="what-we-do-section text-center">
           <div class="container">
              <div class="section-head">
                <h2>What We Do</h2>
                <p>BringItFast is an online tech company which connects national, regional and international travelers with shipping customers
in need of shipping item to their final destination from their departure location. The company social platform allows travelers to sell space
in their luggage which in turn is charged by the weight and size of the item to be shipped.</p>
              </div>
              <button class="btn btn-black explore-btn">Explore Now</button>
           </div>
         </section>

         <section class="feature-section text-center">
           <div class="container">
              <div class="section-head white">
                <h2>Lorem Ipsum is simply dummy</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="row">

                <div class="col-sm-4">
                  <div class="feature-block">
                     <span class="f-icon">
                       <img src="/assets/feature-icon1.png" alt="Icon"/>
                     </span>
                     <h3>Efficient</h3>
                     <p>The transaction between shipping customer, travelers and receiver are done in direct contact where the travelers are
                        the carrier of the parcel. This way, the parcel is passed from one to another one until delivery.</p>
                        <a href="javascript:void(0);" class="readmore">Read more...</a>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="feature-block">
                     <span class="f-icon">
                       <img src="/assets/feature-icon2.png" alt="Icon"/>
                     </span>
                     <h3>Affordable</h3>
                     <p>The cost of shipping item via BringItFast is one of the cheapest options on the market. Shipping customers pay less for what they have been paying while travelers make more money during their planned schedule.</p>
                        <a href="javascript:void(0);" class="readmore">Read more...</a>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="feature-block">
                     <span class="f-icon">
                       <img src="/assets/feature-icon3.png" alt="Icon"/>
                     </span>
                     <h3>Secure</h3>
                     <p>The company ensures that an agreement upon meeting between shipping customers and travelers is done after the shipping party has listed all the item to be carried with pictures for the purpose of ensuring the safety of...</p>
                        <a href="javascript:void(0);" class="readmore">Read more...</a>
                  </div>
                </div>

              </div>

           </div>
         </section>

          <section class="how-it-works-section text-center">
           <div class="container">
              <div class="section-head">
                <h2>How It Works?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="row">
                 <div class="col-sm-4">
                    <div class="whatwedo-block">
                    <span class="inner-icon">
                       <img src="/assets/tweet-icon.png" alt="Icon"/>
                    </span>
                    <p>The company ensures that an agreement upon meeting between shipping customers and travelers is done after the shipping party has listed all the item to be carried with pictures for the purpose of ensuring the safety of...</p>
                   </div>
                 </div>

                 <div class="col-sm-4">
                    <div class="whatwedo-block">
                    <span class="inner-icon">
                       <img src="/assets/briefcase.png" alt="Icon"/>
                    </span>
                    <p>The company ensures that an agreement upon meeting between shipping customers and travelers is done after the shipping party has listed all the item to be carried with pictures for the purpose of ensuring the safety of...</p>
                   </div>
                 </div>

                  <div class="col-sm-4">
                    <div class="whatwedo-block">
                    <span class="inner-icon">
                       <img src="/assets/checkmark.png" alt="Icon"/>
                    </span>
                    <p>The company ensures that an agreement upon meeting between shipping customers and travelers is done after the shipping party has listed all the item to be carried with pictures for the purpose of ensuring the safety of...</p>
                   </div>
                 </div>

              </div>
              <button class="btn btn-dark-red explore-btn">Explore Now</button>
           </div>
         </section>

         <section class="home-video-section text-center">
           <div class="video-content">
              <span class="play-btn"><img src="/assets/play-icon.png" alt="Play Icon"/></span>
              <div class="section-head white">
                <h2>Watch this movie!</h2>
                <p>What is crowdshipping? How does BrignItFast work?</p>
              </div>
           </div>
         </section>


          <section class="safety-trust-section">
            <div class="custom-container">
              <div class="safety-trust-block clearfix">
                <div class="safety-trust-info f-left">
                  <h2>Safety and Trust in crowdshipping</h2>
                  <h3>Why should we trust our members?</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>
                  <a class="learnmore btn btn-dark-red" href="javascript:void(0);">Learn more...</a>
                </div>
                <div class="safety-trust-img f-right">
                </div>
              </div>
            </div>
          </section>

          <section class="testimonial-section">
            <div class="container">
              <div class="section-head">
                <h2>What our customers say</h2>
              </div>

              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                 <img src="/assets/test-user-img1.png" alt="testimonial image"/>
                                 <div class="test-user-detail">
                                    <h4>User Name</h4>
                                    <p>Location Address</p>
                                  </div>
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1">
                                 <img src="/assets/test-user-img2.png" alt="testimonial image"/>
                                 <div class="test-user-detail">
                                    <h4>User Name</h4>
                                    <p>Location Address</p>
                                  </div>
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2">
                                 <img src="/assets/test-user-img3.png" alt="testimonial image"/>
                                  <div class="test-user-detail">
                                    <h4>User Name</h4>
                                    <p>Location Address</p>
                                  </div>
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                       <div class="client-msg">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       </div>
                                   </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                       <div class="client-msg">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       </div>
                                   </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                       <div class="client-msg">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       </div>
                                   </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
                        </div>


            </div>
          </section>

          <section class="sendEmail-section">
          <div class="container">
              <div class="sendEmail-inner">
                  <h3 class="sendEmail-hdng">We send awesome emails.</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <div class="input-group">
                    <input class="form-control" placeholder="Please enter Email Id" type="text">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Subscribe Now</button>
                    </span>
                  </div><!-- /input-group -->
              </div>
          </div>
        </section>


      </main>
      <!-- Main End -->

   </body>
</html>