<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BringItFast</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <link rel="stylesheet" href="css/testinomial.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="font/stylesheet.css">
      <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/style.css"> -->
   </head>
   <body>
      <!-- header Start -->
      <header class="global-header">
         <nav class="navbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                  </button>
                  <a class="navbar-brand logo" href="index.html">
                  <img src="/assets/logo.png" class="logo" alt="Logo"/>
                  </a>
               </div>
               <span class="top-user-img hide-large"><img src="/assets/test-user-img1.png" alt="user pic"/></span>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="dashboard.html">DASHBOARD</a></li>
                     <li><a href="about.html">MY ACCOUNT</a></li>
                     <li><a href="pricing.html">PRICING</a></li>
                     <li><a href="senders.html">SENDERS</a></li>
                     <li><a href="traveller.html">TRAVELERS</a></li>
                     <li><a href="contact.html">CONTACT</a></li>
                     <li class="top-username">
                        <div class="username">WELCOME,<span>GLENN MAXWLL</span></div>
                        <span class="top-user-img"><img src="/assets/test-user-img1.png" alt="user pic"/></span>
                     </li>
                     <li class="language-list">
                        <select class="language whitedropicon">
                           <option selected>LANGUAGE</option>
                           <option>English</option>
                        </select>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <!-- header End -->
      <section class="common-banner-sec text-center" style="background-image:url(/assets/pricing-information-banner.png);">
         <div class="banner-text-parent">
            <div class="banner-text-child">
               <h1>Ship Anything, Anytime, Anywhere</h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
            </div>
         </div>
      </section>
      <!-- Main Start -->
      <main>
         <section class="treveller-section common-section">
            <div class="container">
               <div class="static-page-head text-center">
                  <h2 class="common-content-heading">BringItFast Price Chart</h2>
               </div>
         
             <div class="price-chart-block">
           <div class="table-responsive">
             <table class="table table-bordered">
            <thead>
              <tr>
              <th class="countries-cell">Countries</th>
              <th class="weight-cell">Weight</th>
              <th colspan="3" class="national-cell">National</th>
              <th colspan="3" class="regional-cell"><span class="reg-bdr">Regional</span></th>
              <th class="international-cell">International</th>
              <th class="continent-cell">Continent</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tabel-subhead">
              <td class="countries-cell"></td>
              <td class="weight-cell"></td>
              <td colspan="6" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                  <td>Bus</td>
                  <td><span class="reg-bdr">Train</span></td>
                  <td><span class="reg-bdr">Plane</span></td>
                  <td><span class="reg-bdr">Bus</span></td>
                  <td><span class="reg-bdr">Train</span></td>
                  <td><span class="reg-bdr">Plane</span></td>
                 </tr>
                </tbody>
                 </table>
              </td>
              <td class="international-cell"></td>
              <td class="continent-cell"><span class="country-name"></span></td>
              </tr>
              
              
              <tr>
              <td>USA, Brazil, Argentina</td>
              
              <td colspan="8" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                </tbody>
                 </table>
              </td>
              
              <td rowspan="2"><span class="country-name">America</span></td>
              </tr>
              
              
               <tr>
              <td>USA, Brazil, Argentina</td>
              
              <td colspan="8" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                </tbody>
                 </table>
              </td>
              
              
              </tr>
              
              <tr>
              <td>United Kingdom, Italy, Switzerland, France,
                Germany, Turkey, Belgium, Ireland, Austria, Spian,
                United Kingdom, Italy, Switzerland, France,
                Germany, Turkey, Belgium, Ireland, Austria, Spian,
                United Kingdom, Italy, Switzerland, France</td>
              
              <td colspan="8" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                </tbody>
                 </table>
              </td>
              
              <td><span class="country-name">Europe</span></td>
              </tr>
              
              
              <tr>
              <td>Cameroon, Nigeria, ghana, Ivory Coast, Egypt,
                South Africa, Morocco, Ethiopia, Algeria, Tunisia,
                Libya, Mozambique, Tanzania, Namibia, Zimbabwe,
                Sudan, Cape verde, Botswana, Burkina, Faso,
                adagascar, Togo, Equatorial Guinea, Republic of
                Congo, Randa</td>
              
              <td colspan="8" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                </tbody>
                 </table>
              </td>
              
              <td><span class="country-name">Africa</span></td>
              </tr>
              
              <tr>
              <td>China, Malaysia, Thialand, Indonesia, Philippines, Japan, India, South Korea, Singapore, Vietnam</td>
              
              <td colspan="8" class="inner-table">
                 <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                 <tr>
                    <td class="weight-cell">20kg - 23kg</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td>18.75</td>
                  <td>18.75</td>
                  <td>32.5</td>
                  <td class="international-cell">187.5</td>
                 </tr>
                
              
                </tbody>
                 </table>
              </td>
              
              <td><span class="country-name">Asia</span></td>
              </tr>
              
            </tbody>
            </table>
           </div>
           </div>
        
            </div>
         </section>
         <!-- Account Section End -->
         <section class="sendEmail-section">
            <div class="container">
               <div class="sendEmail-inner">
                  <h3 class="sendEmail-hdng">We send awesome emails.</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Please enter Email Id">
                     <span class="input-group-btn">
                     <button class="btn btn-default" type="button">Subscribe Now</button>
                     </span>
                  </div>
                  <!-- /input-group -->
               </div>
            </div>
         </section>
      </main>
      <!-- Main End -->
      
   </body>
</html>