<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BringItFast</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--       <link rel="stylesheet" href="css/testinomial.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="font/stylesheet.css">
      <link rel="stylesheet" href="css/jquery.dataTables.min.css">
     <link rel="stylesheet" href="css/datepicker.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/style.css"> -->
      
   </head>
   <body>
      <!-- header Start -->
      <header class="global-header">
         <nav class="navbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                  </button>
                  <a class="navbar-brand logo" href="index.html">
                  <img src="/assets/logo.png" class="logo" alt="Logo"/>
                  </a>
               </div>
               <span class="top-user-img hide-large"><img src="/assets/test-user-img1.png" alt="user pic"/></span>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="dashboard.html">DASHBOARD</a></li>
                     <li><a href="about.html">MY ACCOUNT</a></li>
                     <li><a href="my-account.html">PRICING</a></li>
                     <li><a href="senders.html">SENDERS</a></li>
                     <li><a href="traveller.html">TRAVELLERS</a></li>
                     <li><a href="contact.html">CONTACT</a></li>
                     <li class="top-username">
                        <div class="username">WELCOME,<span>GLENN MAXWLL</span></div>
                        <span class="top-user-img"><img src="/assets/test-user-img1.png" alt="user pic"/></span>
                     </li>
                     <li class="language-list">
                        <select class="language whitedropicon">
                           <option selected>LANGUAGE</option>
                           <option>English</option>
                        </select>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <!-- header End -->
      <section class="common-banner-sec text-center" style="background-image:url(/assets/traveller-banner.png);">
         <div class="banner-text-parent">
            <div class="banner-text-child">
               <h1>Ship Anything, Anytime, Anywhere</h1>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
            </div>
         </div>
      </section>
      <!-- Main Start -->
      <main>
         <section class="treveller-section common-section">
            <div class="container">
               <form class="traveller-form">
                  <fieldset>
                     <legend>List Your Journey</legend>
                     <div class="form-box common-form">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input placeholder="Weight upto" class="form-control" type="text">
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">LBS</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <h3 class="form-head">Departure Date & Time</h3>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input placeholder="Date" class="form-control datepicker" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input placeholder="Time" class="form-control datepicker" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Col left End -->
                        </div>
                        <div class="row">
                           <!-- Inner Col left Start -->
                           <div class="col-sm-6">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <label class="control-label">Departure</label>
                                       <select class="form-control blackdropicon">
                                          <option selected="">Select Country</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">State</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">City</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <input placeholder="Address" class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Zip Code" class="form-control" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Inner Col left End -->
                           <div class="col-sm-6">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <label class="control-label">Departure Meeting Location</label>
                                       <select class="form-control blackdropicon">
                                          <option selected="">Select Country</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">State</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">City</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <input placeholder="Address" class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Zip Code" class="form-control" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <h3 class="form-head">Arrival Date & Time</h3>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input placeholder="Date" class="form-control datepicker" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input placeholder="Time" class="form-control datepicker" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Col left End -->
                        </div>
                        <div class="row">
                           <!-- Inner Col left Start -->
                           <div class="col-sm-6">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <label class="control-label">Departure</label>
                                       <select class="form-control blackdropicon">
                                          <option selected="">Select Country</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">State</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">City</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <input placeholder="Address" class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Zip Code" class="form-control" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Inner Col left End -->
                           <div class="col-sm-6">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <label class="control-label">Departure Meeting Location</label>
                                       <select class="form-control blackdropicon">
                                          <option selected="">Select Country</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">State</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <select class="form-control blackdropicon">
                                          <option selected="">City</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <input placeholder="Address" class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Zip Code" class="form-control" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Contact Person" class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <input placeholder="Contact Phone No." class="form-control" type="text"/>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Last date to receive item</label>
                                       <input placeholder="Date" class="form-control datepicker" type="text"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- form-box common-form end -->
                 <div class="submit-btn-block">
                  <button class="btn btn-dark-red">CANCEL</button>
                  <button class="btn btn-gray">SEARCH</button>
                 </div>
                  </fieldset>
             
               </form>
               <!-- Form End -->
            </div>
         </section>
         <!-- Account Section End -->
         <section class="sendEmail-section">
            <div class="container">
               <div class="sendEmail-inner">
                  <h3 class="sendEmail-hdng">We send awesome emails.</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Please enter Email Id">
                     <span class="input-group-btn">
                     <button class="btn btn-default" type="button">Subscribe Now</button>
                     </span>
                  </div>
                  <!-- /input-group -->
               </div>
            </div>
         </section>
      </main>
      <!-- Main End -->
   </body>
</html>