/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require alertify
 *= require alertify/default
 *= require alertify/bootstrap
 *= require_self
 *= require_tree .
 */

 .logo-mini{color:#fff;display:none;width: 30px;}
.sidebar-collapse .logo-mini{display:block;}
.sidebar-collapse .logo-large{display:none;}
.logo-large{width:210px;    display: inline-block;}
.head-logo {
    float: left;
    background-color: #3c8dbc;
    min-height: 49px;
    line-height: 49px;
    padding: 0 10px;
}


/*.content-wrapper{min-height: 100%!important;height: calc(100vh - 50px)!important;overflow-y:auto; }*/
.content-header{height: 100%;}


ul{padding: 0;margin:0;}
li{list-style-type: none;}
.content{padding: 15px 0 !important;}
.content-header{padding: 30px 25px 0 25px!important;}
.logo1 img , .logo1 {height: 100%;}
.user-panel{text-align: center;}
.user-panel > .info{top: 0;}
.user-panel{text-align: center;}
.pull-left.image{position: relative;
float: none !important;
display: inline-block;}
.user-panel > .image > img{max-width: 120px!important;}
.user-panel > .info > a{font-size: 18px!important;}
.user-panel > .info{left: 148px!important;top: 8px;}
.outer-box{border: 1px solid #ccc;box-shadow: 0 0 5px #ccc;border-radius: 4px;text-align: center;}
.outer-box h3{ margin-top: 0;
padding-left: 15px;
font-size: 20px;
border-bottom: 1px solid #ddd;
padding-bottom: 20px;
margin-bottom: 0;
background: #3c8dbc;
padding-top: 20px;
color: #fff;
border-top-left-radius: 4px;
border-top-right-radius: 4px;}
.inner-box{padding: 15px;background: #ccc;}
.count{font-size: 50px;font-weight: bold;line-height: 90px;position: relative;}
.count span{font-size: 18px;font-weight: normal;position: absolute;top: -12px;}
.outer-box {margin: 0 auto;max-width: 350px;width: 100%;}


.top-block{margin-top: 30px;}
.top-content ul li{font-size:18px;margin-bottom: 15px;}
.top-content{padding: 15px 0;}
.top-outer h3{padding-left: 8px;
	font-weight: bold;
font-size: 20px;
border-bottom: 2px solid #3c8dbc;
padding-bottom: 15px;
margin-bottom: 0;
padding-top: 15px;
margin-top: 0;}
.top-outer{     box-shadow: 0 0 5px #ccc;
    border: 1px solid #ccc;
    padding: 0 18px;
     margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.top-content ul li span:last-child{float: right;}

.top-content ul{margin: 10px auto;
max-width: 400px;}

.aduser-btn a.btn.btn-add{font-size: 17px;color: #fff;background: #3c8dbc}
.aduser-btn {float: right;}
.user-head{float: left;font-size: 26px;}
.form-common label{font-weight: normal;font-size: 16px;}
.form-control.custom-control{height: 37px;box-shadow: 0 0 5px #ccc;border-radius: 2px;border: 1px solid #a2a2a2;}
.right-form{max-width: 500px;}
.login-detail{padding: 25px;background: #ddd;}

.sub-add{margin:12px 0;}
.address{margin:0px 0 12px;}


.form-add{margin-top: 20px;text-align: right;}



.filter-btn{padding-top: 30px;}
.filter-btn button{min-width: 100px;font-size: 16px;}

.cus-table table th , .cus-table table td{font-size: 14px;} 


.addupload .uploadimg .thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    height: 200px;
}
.uploadimg .thumbnail {
    margin-bottom: 8px;
}
.addupload .thumbnail {
    display: inline-block;
}

.thumbnai {    
    padding: 4px;

    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;

}

.choose-file {
    background: #38c7db;
    border: 0 none;
    border-radius: 4px;
    margin: 0px 0 0;
    padding: 10px 60px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}


   
 .fileUpload input.upload {

  
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;}

  .fileUpload  input[type="file"] {
    display: block;
}



.filter-btn{padding-top: 30px;}
.filter-btn button{min-width: 100px;font-size: 16px;}

.cus-table table th , .cus-table table td{font-size: 14px;} 

.country_mng-form{margin:0 auto;max-width: 500px;}

.country_mng-form input[type="checkbox"]{margin: 1px 0 0;}
.login-detail.createpro-detail1 {margin-top: 20px;}

.tab-section ul li:first-child{padding-left: 30px;}

.tab-section  .nav-tabs > li > a{border-radius: 0;margin-right: 0;}


.country-tab{padding: 36px;}
.state-tab{padding: 30px;}
.state-tab .form-add{margin-bottom: 20px;margin-top: 0;}

.add-modal .modal-footer {border-top: none;text-align: center;}
.add-modal .modal-header {padding: 5px 15px;border-bottom: none;}
.addbody{padding: 0 30px;}

/***********payment***********/

.global-heading{font-size: 22px;color: #000;font-weight: bold;margin-bottom: 20px;}
.payment-setting-block .payment-tab , .payment-setting-block .tab-content{display: inline-block;vertical-align: top;}
.payment-setting-block .tab-content h3{margin-top: 0;}
.payment-setting-block .tab-content{padding-left: 20px;border: 1px solid #000;
padding-top: 20px;
margin-left: -4px;
padding-right: 20px;
width: 100%;}
.userlist-block{margin-top: 30px;}
.payment-setting-block .filter-btn {float: right;}
.country-field {display: inline-block;}
.add-btn{min-width: 90px;}
.add-button{margin-bottom: 10px;}td.image img{width: 100px;height: 80px;}

.fa.fa-plus{padding-right: 5px;}
.cus-table .table-bordered > tbody > tr > td, .cus-table .table-bordered > tbody > tr > th, 
.cus-table .table-bordered > tfoot > tr > td, .cus-table .table-bordered > tfoot > tr > th,
.cus-table .table-bordered > thead > tr > td, .cus-table .table-bordered > thead > tr > th{border: 1px solid #000;}
.cus-table .table-bordered {border: 1px solid #000;}
.payment-tab .nav-stacked > li.active > a,.payment-tab .nav-stacked > li.active > a:hover,
.payment-tab .nav-stacked > li.active > a:focus{    border-right: 1px solid #ecf0f5;
    border-radius: 0;
    background: #ecf0f5;
    color: #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    min-width: 163px;
    margin-right: -1px;
}
.payment-tab ul{padding-top: 20px;}
.cus-table table thead{background: #337ab7;color: #fff;}
.cus-table table td a{min-width: 70px;margin-right: 4px;}

/*.filter-form{border: 1px solid #b3acac;padding: 10px;box-shadow: 0 0 5px #ccc;}*/

fieldset.global-fieldset legend {
    margin-bottom: 0px;
    padding: 0px 4px;
    display: inline-block;
    width: auto;
    border: none;
}
fieldset.global-fieldset  {
border: 1px solid #000;
margin: 0 0 15px;
padding: 10px;
position: relative;

background-color: #f5f5f5;
padding-left: 10px;
min-height: 100%;
margin-top: 20px;
}

.vehicle-input{position: relative;
padding-left: 42px;}
.vehicle-input i {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 3px;
}
.vehicle-input span {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 5px;
}
.vehicle-input input{max-width: 75%;}
.vehicle-block{margin-bottom: 30px;margin-top: 10px;padding: 0 10px;}
.sidebar-menu > li > a{padding: 12px 5px 12px 4px!important;}
.select-weight {padding-top: 26px;}
 
/*for image size*/
 td.image img{width: 100px;height: 80px;}

/********custom-radio******/



/********************/
.commission-block{display: inline-block;}
.commission-block h5{color: #000;}
.radio-box label{font-weight: normal;font-size: 14px;}
.commission-outerblock{padding-left: 40px;margin: 10px 0 30px;}

.logo1 img{height: 40px;width: 190px;}

.location-manage-block{padding:  20px;margin: 0 auto;
max-width: 600px;}
.day-checkbox {min-width: 68px;}
.day-checkbox label{vertical-align: middle;}
.day-checkbox .custom-checkbox{display: inline-block;}
.opening-hours-section{margin-top: 30px;}
.opening-hours{color: #000;margin-bottom: 8px;}

.table.noborder > tbody > tr > td, .table.noborder > tbody > tr > th, .table.noborder > tfoot > tr > td,
 .table.noborder > tfoot > tr > th, .table.noborder > thead > tr > td, .table.noborder > thead > tr > th{border-top: 0;}
 .transaction-dashboard-box{margin:20px 0 30px;}

 .calendaricon-input {
    position: relative;
    padding-right: 30px;
}

 .calendaricon-input  .fa.fa-calendar {

    position: absolute;
    right: 0;
    text-align: 0;
    top: 10px;
    font-size: 20px;

}



.journey-request-block .tab-content {
    border: 1px solid #000;
    display: block;
    padding: 20px;
    margin-top: -1px;
    background: #fff;
}

.journey-request-block .nav.nav-tabs {
    padding-left: 20px;
}

.journey-request-block .nav-tabs > li.active > a, .journey-request-block .nav-tabs > li.active > a:focus,
.journey-request-block .nav-tabs > li.active > a:hover{border: 1px solid #000;
border-bottom-color: transparent!important;}
.journey-request-block  .nav-tabs > li > a:hover{border-color: #000;border-bottom-color: transparent!important;}
.journey-request-block .nav-tabs > li > a {margin-right: 10px;   background: #ecf0f5;border:none;border-bottom-color: transparent!important;}
select.form-control.filter-select{max-width: 7%;
display: inline-block;
font-size: 13px;
padding: 5px 7px;}
.journey-request-part{border-bottom: 1px dotted #000;padding: 15px 0;margin: 0 auto;
    max-width: 890px;}
.journey-request-part i{font-size: 20px;}
.journey-request-part span{font-size: 16px;padding-left: 10px;}
.journey-request-part label{font-weight: normal;color: #000;font-size: 16px;}
.indication {width: 60px;   height: 30px;box-shadow: 0 0 5px #ccc;}
.indication.yellow {background: yellow;}
.indication.green {background: green;}
#admin_edit_country{background: #f5f5f5;}

.country-manage-tab .nav.nav-tabs li a{border: none;border-bottom: 0!important;margin-left: 10px;background: transparent;}
.country-manage-tab .nav.nav-tabs li.active a{border: 1px solid #000;border-bottom: 0;}
.country-manage-tab .tab-section .nav-tabs > li > a{border-top-right-radius:4px!important;border-top-left-radius:4px!important;}
.country-manage-tab .nav.nav-tabs li.active a:hover , .nav.nav-tabs li.active a:focus{border: 1px solid #000;border-bottom: 0;}

.country-manage-tab .tab-content{margin-top: -1px;}
.country-manage-tab .tab-content{border: 1px solid #000;}
.country-manage-tab .nav-tabs > li.active > a, .country-manage-tab .nav-tabs > li.active > a:focus, 
.country-manage-tab .nav-tabs > li.active > a:hover{background: #f5f5f5;}

img#user_pic{width: 100%;
max-width: 200px;
height: 195px;
border-radius: 50%}
.fileinput-preview.thumbnail{border-radius: 50%;}
.form-group.addupload{text-align: center;}
.heading__custom.text-center.m-0 h2{margin-top: 0;margin-bottom: 20px;}

.form-group.addupload #file-upload {
    position: absolute;
    top: 0;
    left: 99px;
    height: 200px;
    border-radius: 50%;
    min-width: 209px;
    opacity: 0;
}
.form-group.addupload{position: relative;}

#admin_payment.new_pricing_information{display: inline-block;width: calc(100% - 170px);}
.Payment-tab{display: inline-block;width: calc(100% - 170px);}



